<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SHLF</title>

    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/resources.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a href="/"><img class="logo" src="/images/SHLF.png" alt="SHLF"></a>
        <a class="navbar-brand brand-name" href="/">SHELF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if (!user) { %>
            <li class="nav-item mr-sm-2">
              <span class="nav-link">Login</span>
            </li>
            <li class="nav-item mr-sm-2">
              <div class="nav-link">Register</div>
            </li>
            <% } else { %>
            <li class="nav-item mr-sm-2">
              <p class="nav-link navbar-nav"><%= user.username %></p>
            </li>
            <li class="nav-item mr-sm-2">
              <a class="nav-link" href="#">My Resources</a>
            </li>
            <li class="nav-item mr-sm-2">
              <a class="nav-link" href="#">Liked Resources</a>
            </li>
            <% } %>
            <li class="nav-item">
              <form class="form-inline my-2 my-lg-0" method="get" action="/api/search" id="search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="query" aria-label="Search" name="query">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="Search">Search</button>
              </form>
            </li>
          </ul>
          <div class="navbar-nav mr-auto fixed-botton logout">
            <form class="" action="/api/users/logout" method="GET">
              <button class="btn btn-outline-danger logout-btn"type="submit" name="logout">Logout</button>
            </form>
          </div>
        </div>

      </nav>
      <div class="wrapper">


        <div class="container login mb-4">
          <h3>Login</h3>
          <form class="form-inline" action="/api/users/login" method="POST">
            <div class="form-group">
              <input type="email" class="form-control mr-sm-2" name="email" id="login-email" placeholder="user@example.com">
            </div>
            <div class="form-group">
              <input type="password" class="form-control mr-sm-2" name="password" id="login-pass" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>

        <div class="container register mb-4">
          <h3>Register</h3>
          <form class="" action="/api/users/register" method="POST">
            <div class="form-group">
              <input type="text" class="form-control mr-sm-2" name="first_name" id="register-firt-name" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control mr-sm-2" name="last_name" id="register-last-name" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control mr-sm-2" name="username" id="register-username" placeholder="username">
            </div>
            <div class="form-group">
              <input type="email" class="form-control mr-sm-2" name="email" id="register-email" placeholder="user@example.com">
            </div>
            <div class="form-group">
              <input type="password" class="form-control mr-sm-2" name="password" id="register-pass" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>

        <div class="container search-results">

        </div>
      <div class="container all-resources">
        <div class="row">
          <div class="card-columns">
            <!-- Resource Cards go here -->
          </div>
        </div>
      </div>
      <!--Compose Modal -->
      <div class="compose">
        <button  class="btn btn-primary btn-lg create-btn" data-toggle="modal" data-target="#composeModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="composeModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="composeModalLabel">Create Resource</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="new-resource-form" action="api/resources/new" method="POST">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="new-resource-url" name="url" class="col-form-label">Link</label>
                      <input type="url" name="url" class="form-control" id="new-resource-url" placeholder="https://">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="new-resource-title" name="title" class="col-form-label">Title</label>
                      <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="new-resource-title" name="tag" class="col-form-label">Tags</label>
                      <input type="text" name="tag" class="form-control" id="tag" placeholder="Me in one word?">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="new-resource-description" name="description" class="col-form-label">Description</label>
                    <textarea type="textarea" name="description" class="form-control" id="new-resource-description" placeholder="This resource is about..."></textarea>
                  </div>
                  <button type="submit" class="btn btn-outline-dark">Create</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Resource Modal -->

    </div>
  </body>
</html>
